    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/listar.css">
<br><br>

<h1>Lista dos Clientes Cadastrados</h1>
<br><hr><br>
<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Cpf</th>
        <th>Tipo</th>
    </thead>
    <tbody>
    {{#each dados}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.email}}</td>
            <td>{{this.telefone}}</td>
            <td>{{this.cpf}}</td>
            <td>{{this.tipo}}</td>
        </tr>
    {{/each}} 
    </tbody>
</table>

        </div>
        <br><br><hr><br><br><br>
         <button onclick="location.href='/gerenciador'">Voltar para página de gerenciamento</button>
         <br><br>
</div>